<script src="~/Scripts/justgage.1.0.1.min.js"></script>
<script src="~/Scripts/raphael.2.1.0.min.js"></script>
<style>
    .gauge {
        width:100px; height:80px;
      }
</style>
<script type="text/javascript">
        $(document).ready(function () {
            $("#buildThrobber").hide()

            $('.gauge').each(function () {

                new JustGage({
                    id: this.id,
                    value: $(this).attr("value"),
                    min: 0,
                    max: 100,
                    title: " ",
                    label: " ",
                    levelColorsGradient: false
                })
            })

            // Post drawing resize
            $('svg').each(function () {
                $(this).width(100);
                $(this).height(100);
            })
        });

        $(document).loading(function () {
            $("#buildThrobber").show()
        });
</script>
@model TFSAdminDashboard.Models.BuildOverviewModel

<table class="table table-bordered">
    <tbody>
        <tr class="info">
            <th>
                Name
            </th>
            <th>
                Enabled
            </th>
            <th>
                Continuous Integration Type
            </th>
            <th>
                Retained Build Count
            </th>
            <th>
                Failed Ratio
            </th>
            <th>
                %
            </th>
            <th>
                Last Success Date
            </th>
            <th>
                Last Failed Date
            </th>
        </tr>
        @foreach (TFSAdminDashboard.DTO.BuildDefinition bd in Model.BuildDefinitionCollection)
        {
            <tr>
                <td>
                    @bd.Name
                </td>
                <td>
                    @bd.Enabled
                </td>
                <td>
                    @bd.ContinuousIntegrationType
                </td>
                <td>
                    @bd.RetainedBuild
                </td>
                <td class="gauge" id="@bd.Name" value="@bd.FailedOrPartialRatio"></td>
                <td>
                    @bd.FailedOrPartialRatio
                </td>
                <td>
                    @bd.LastSuccess
                </td>
                <td>
                    @bd.LastFail
                </td>
            </tr>
        }
    </tbody>
</table>
