<script type="text/javascript">
        $(document).ready(function () {
            $("#buildThrobber").hide()
        });
</script>

@model TFSAdminDashboard.Models.BuildOverviewModel

<table class="table table-bordered">
    <tbody>
        <tr class="info">
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Build Health
            </th>
            <th>
                Last Success Date
            </th>
            <th>
                Last Failed Date
            </th>
        </tr>
        @foreach (TFSAdminDashboard.DTO.BuildDefinition bd in Model.BuildDefinitionCollection)
        {
            <tr>
                <td>
                    @bd.Name
                </td>
                <td>
                    @bd.type
                </td>
                <td>
                    @bd.Health
                </td>
                <td>
                    @bd.LastSuccess
                </td>
                <td>
                    @bd.LastFail
                </td>
            </tr>
        }
    </tbody>
</table>